:root {
    --mainbg: #1E1E1E;
    --buttonbg: #B55BFF;
    --header-foot-bg: rgba(217, 217, 217, 0.14);
    --main-font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html {
    background-color: var(--mainbg);
    font-family: var(--main-font) !important ;
    color: white;
}

.card {
    border-radius: 19px;
    background: rgba(217, 217, 217, 0.14);
    border:#B55BFF solid;
    padding: 10px;
    margin: 20px;
}

li {
    color: white;
}

p, h2, h3, h1 {
    color: white;
}

button {
    border-radius: 5px;
    border: 1px solid var(--buttonbg);
    background: var(--buttonbg);
    font: var(--main-font)
}

button.clicked {
    border: 2px solid white;
}

body {
    margin: 0;
}

